@charset "UTF-8";
/* Kanto */
.vforest   { background-image: url(/images/backgrounds/kanto/vforest.png); }
.mtmoon   { background-image: url(/images/backgrounds/kanto/mtmoon.png); }
.rtunnel    { background-image: url(/images/backgrounds/kanto/rtunnel.png); }
.digcave     { background-image: url(/images/backgrounds/kanto/digcave.png); }
.kszone     { background-image: url(/images/backgrounds/kanto/kszone.png); }
.pwrplnt     { background-image: url(/images/backgrounds/kanto/pwrplnt.png); }
.sfisle     { background-image: url(/images/backgrounds/kanto/sfisle.png); }
.pkmnmnsn     { background-image: url(/images/backgrounds/kanto/pkmnmnsn.png); }
.kvroad     { background-image: url(/images/backgrounds/kanto/kvroad.png); }
.ccave     { background-image: url(/images/backgrounds/kanto/ccave.png); }
.fish     { background-image: url(/images/backgrounds/kanto/fish.png); }

/* Johto */
.npark     { background-image: url(/images/backgrounds/johto/npark.png); }
.ruinsoa  { background-image: url(/images/backgrounds/johto/ruinsoa.png); }
.iforest    { background-image: url(/images/backgrounds/johto/iforest.png); }
.ttower     { background-image: url(/images/backgrounds/johto/ttower.png); }
.wisle  { background-image: url(/images/backgrounds/johto/wisle.png); }
.mmortar    { background-image: url(/images/backgrounds/johto/mmortar.png); }
.lakerage    { background-image: url(/images/backgrounds/johto/lakerage.png); }
.icepath  { background-image: url(/images/backgrounds/johto/icepath.png); }
.dcave    { background-image: url(/images/backgrounds/johto/dcave.png); }
.msilver    { background-image: url(/images/backgrounds/johto/msilver.png); }
.jvroad  { background-image: url(/images/backgrounds/johto/jvroad.png); }
.jfish    { background-image: url(/images/backgrounds/johto/jfish.png); }

/* Hoenn */
.jungle   { background-image: url(/images/big_sprites/jungle.png); }
.sea      { background-image: url(/images/big_sprites/sea.png); }
.mountain { background-image: url(/images/big_sprites/mountain.png); }